<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

  <div class="max-w-md mx-auto mt-8">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" id="loginForm">
      <div class="text-left mb-4">
        <img class="block" src="../../../public/images/logo.png" />
        <p class="text-xl text-teal-900 font-bold">Masuk ke akun Travsy Anda.</p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username" type="text" placeholder="Username"
        >
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password" type="password" placeholder="Password"
        >
      </div>
      <div class="flex items-center justify-center mb-6">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full h-12 btn-shadow"
          type="button"
          onclick="signIn()"
          style="box-shadow: 2px 8px 12.7px 0 rgba(75, 207, 255, 0.15);"
        >
          Sign In
        </button>
      </div>
      <label class="block text-gray-700 text-sm font-bold mb-2 text-center" id="registerLink">
        Belum punya akun? <a href="./register.html" class="text-blue-500">Buat akun</a>
      </label>
    </form>
  </div>

  <script>
    function signIn() {
      alert("Sign-in logic would go here!");
    }

    document.getElementById("registerLink").addEventListener("click", function (event) {
      event.preventDefault();
      alert("Redirect to register page would go here!");
    });
  </script>

</body>

</html>
