<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    
    <body>
        <div class="max-w-[90rem] mx-auto bg-sky-50">
            <div class="flex flex-col gap-[4.88rem] justify-start items-center">
                <div class="flex flex-col justify-start items-center">
                    <div class="flex flex-row gap-2.5 justify-center items-center w-[90rem] h-[5.94rem] bg-sky-50">
                        <div class="flex flex-row justify-between items-center w-[78rem]">
                            <div class="flex flex-row gap-12 justify-start items-center">
                                <a href="index.html">
                                    <img class="block" src="../../../public/images/image-83407.35438998908.svg" />
                                </a>
                                <div class="flex flex-row gap-5 justify-start items-start">
                                    <a href="./Tourpackage.html" class="flex flex-row gap-2.5 justify-center items-center p-2.5 rounded-lg">
                                        <p class="block text-neutral-700">Paket Wisata</p>
                                    </a>
                                    <a href="index.html" class="flex flex-row gap-2.5 justify-center items-center p-2.5 rounded-lg">
                                        <p class="block text-neutral-700">Riwayat</p>
                                    </a>
                                </div>
                            </div>
                            <div class="flex flex-row gap-[0.56rem] justify-start items-start">
                                <a href="./login.html" class="flex flex-row gap-2.5 justify-center items-center px-6 py-3 bg-white border-sky-500 border rounded-[2rem] shadow-[2px_8px_12.7px_0px_rgba(0,152,205,0.1)]">
                                    <p class="block text-sky-600">Masuk</p>
                                </a>
                                <a href="./register.html" class="flex flex-row gap-2.5 justify-center items-center px-6 py-3 bg-sky-500 rounded-[2rem] shadow-[2px_8px_12.7px_0px_rgba(0,152,205,0.1)]">
                                    <p class="block text-white">Daftar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-16 justify-start items-center">
                    <div class="flex flex-col gap-8 justify-start items-center">
                        <p class="block w-[78rem] text-5xl font-bold">Destinasi mana yang ingin kamu kunjungi?</p>
                        <div class="flex flex-row gap-2 justify-start items-center w-[78rem]">
                            <div class="flex flex-row gap-2.5 justify-start items-center w-full px-6 py-4 bg-white border-sky-300 border-[2]px rounded-xl">
                                <input type="text" placeholder="Search..." class="block text-teal-900 w-full">
                            </div>
                            <div class="flex flex-row gap-2.5 justify-center items-center w-40 h-full px-6 py-3 bg-sky-500 rounded-xl">
                                <p class="block text-white">Cari</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="flex flex-col gap-8 justify-start items-start">
                        <p class="block w-full text-[2rem] text-sky-700  font-bold">Hasil pencarian kamu.</p>
                        <div class="flex flex-row gap-6 justify-center items-start w-[78rem]">
                            <div class="flex flex-col gap-4 justify-start items-start w-[18.38rem] p-6 bg-white rounded-2xl">
                                <div class="rounded-lg">
                                    <img class="block" src=".././.././.././public/images/image-28412.553790650774.png" />
                                </div>
                                <div class="flex flex-row gap-2 justify-start items-center">
                                    <img class="block" src=".././.././.././public/images/image-25243.8939548463.png" />
                                    <p class="block text-xs text-teal-900 ">Abram Saris</p>
                                </div>
                                <p class="block w-full text-teal-900 ">Pura Tanah Lot - Pura Uluwatu - Pantai Kuta</p>
                                <div class="flex flex-row gap-1 justify-start items-start">
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Malioboro</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Gembira Loka</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Prambanan</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4 justify-start items-start w-[18.38rem] p-6 bg-white rounded-2xl">
                                <div class="rounded-lg">
                                    <img class="block" src="./../.././../public/images/image-28412.553790650774.png" />
                                </div>
                                <div class="flex flex-row gap-2 justify-start items-center">
                                    <img class="block" src=".././.././.././public/images/image-25243.8939548463.png" />
                                    <p class="block text-xs text-teal-900 ">Abram Saris</p>
                                </div>
                                <p class="block w-full text-teal-900 ">Pura Tanah Lot - Pura Uluwatu - Pantai Kuta</p>
                                <div class="flex flex-row gap-1 justify-start items-start">
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Malioboro</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Gembira Loka</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Prambanan</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4 justify-start items-start w-[18.38rem] p-6 bg-white rounded-2xl">
                                <div class="rounded-lg">
                                    <img class="block" src="./../.././../public/images/image-28412.553790650774.png" />
                                </div>
                                <div class="flex flex-row gap-2 justify-start items-center">
                                    <img class="block" src=".././.././.././public/images/image-25243.8939548463.png" />
                                    <p class="block text-xs text-teal-900 ">Abram Saris</p>
                                </div>
                                <p class="block w-full text-teal-900 ">Pura Tanah Lot - Pura Uluwatu - Pantai Kuta</p>
                                <div class="flex flex-row gap-1 justify-start items-start">
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Malioboro</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Gembira Loka</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Prambanan</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4 justify-start items-start w-[18.38rem] p-6 bg-white rounded-2xl">
                                <div class="rounded-lg">
                                    <img class="block" src="./../.././../public/images/image-28412.553790650774.png" />
                                </div>
                                <div class="flex flex-row gap-2 justify-start items-center">
                                    <img class="block" src=".././.././.././public/images/image-25243.8939548463.png" />
                                    <p class="block text-xs text-teal-900 ">Abram Saris</p>
                                </div>
                                <p class="block w-full text-teal-900 ">Pura Tanah Lot - Pura Uluwatu - Pantai Kuta</p>
                                <div class="flex flex-row gap-1 justify-start items-start">
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Malioboro</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Gembira Loka</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Prambanan</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4 justify-start items-start w-[18.38rem] p-6 bg-white rounded-2xl">
                                <div class="rounded-lg">
                                    <img class="block" src="./../.././../public/images/image-28412.553790650774.png" />
                                </div>
                                <div class="flex flex-row gap-2 justify-start items-center">
                                    <img class="block" src="./../.././../public/images/image-15967.65738259205.png" />
                                    <p class="block text-xs text-teal-900 ">Abram Saris</p>
                                </div>
                                <p class="block w-full text-teal-900 ">Pura Tanah Lot - Pura Uluwatu - Pantai Kuta</p>
                                <div class="flex flex-row gap-1 justify-start items-start">
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Malioboro</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Gembira Loka</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Prambanan</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4 justify-start items-start w-[18.38rem] p-6 bg-white rounded-2xl">
                                <div class="rounded-lg">
                                    <img class="block" src="./../.././../public/images/image-28412.553790650774.png" />
                                </div>
                                <div class="flex flex-row gap-2 justify-start items-center">
                                    <img class="block" src="./assets/image-90537.61875141709.png" />
                                    <p class="block text-xs text-teal-900 ">Abram Saris</p>
                                </div>
                                <p class="block w-full text-teal-900 ">Pura Tanah Lot - Pura Uluwatu - Pantai Kuta</p>
                                <div class="flex flex-row gap-1 justify-start items-start">
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Malioboro</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Gembira Loka</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Prambanan</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4 justify-start items-start w-[18.38rem] p-6 bg-white rounded-2xl">
                                <div class="rounded-lg">
                                    <img class="block" src="./../.././../public/images/image-28412.553790650774.png" />
                                </div>
                                <div class="flex flex-row gap-2 justify-start items-center">
                                    <img class="block" src="./assets/image-1928.8603005512605.png" />
                                    <p class="block text-xs text-teal-900 ">Abram Saris</p>
                                </div>
                                <p class="block w-full text-teal-900 ">Pura Tanah Lot - Pura Uluwatu - Pantai Kuta</p>
                                <div class="flex flex-row gap-1 justify-start items-start">
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Malioboro</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Gembira Loka</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Prambanan</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4 justify-start items-start w-[18.38rem] p-6 bg-white rounded-2xl">
                                <div class="rounded-lg">
                                    <img class="block" src="./../.././../public/images/image-95534.73688927281.png" />
                                </div>
                                <div class="flex flex-row gap-2 justify-start items-center">
                                    <img class="block" src="./../.././../public/images/image-15967.65738259205.png" />
                                    <p class="block text-xs text-teal-900 ">Abram Saris</p>
                                </div>
                                <p class="block w-full text-teal-900 ">Pura Tanah Lot - Pura Uluwatu - Pantai Kuta</p>
                                <div class="flex flex-row gap-1 justify-start items-start">
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Malioboro</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Gembira Loka</p>
                                    </div>
                                    <div class="flex flex-row gap-2.5 justify-center items-center px-2 py-1 bg-sky-50 rounded-[2.13rem]">
                                        <p class="block text-[0.50rem] text-sky-800 ">Prambanan</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-2.5 justify-start items-center py-16 bg-sky-500">
                <div class="flex flex-row gap-16 justify-start items-start w-[78rem]">
                    <div class="flex flex-col gap-2.5 justify-start items-start w-[36.44rem]">
                        <div>
                            <img class="block" src="./../../././../public/images/image-87054.81628567615.png" />
                        </div>
                        <p class="block w-full text-white ">Jelajahi keindahan pulau Bali dengan pilihan destinasi menarik dari kami.
                            Setiap tempat memiliki cerita dan keunikan tersendiri yang menunggu untuk
                            Anda temukan.Yuk segera pesan layanan kami.</p>
                    </div>
                    <div class="flex flex-col gap-4 justify-start items-start">
                        <p class="block text-xl text-white ">Tautan</p>
                        <div class="flex flex-col justify-start items-start">
                            <p class="block text-white ">Paket Wisata</p>
                            <p class="block text-white ">Riwayat</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-4 justify-start items-start">
                        <p class="block text-xl text-white ">Layanan</p>
                        <div class="flex flex-col justify-start items-start">
                            <p class="block text-white ">Tour Guide</p>
                            <p class="block text-white ">Paket Wisata</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-4 justify-start items-start">
                        <p class="block text-xl text-white ">Kontak</p>
                        <div class="flex flex-col justify-start items-start">
                            <p class="block text-white ">official@travsy.id</p>
                            <p class="block text-white ">Sleman, Yogyakarta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>