<div class="flex flex-row gap-2.5 justify-center items-center w-[90rem] h-[5.94rem] bg-sky-50">
    <div class="flex flex-row justify-between items-center w-[78rem]">
        <div class="flex flex-row gap-12 justify-start items-center">
            <a href="index.html">
                <img class="block" src="./src/public/images/image-83407.35438998908.svg" />
            </a>
            <div class="flex flex-row gap-5 justify-start items-start">
                <a href="./src/scripts/views/pages/Tourpackage.html" class="flex flex-row gap-2.5 justify-center items-center p-2.5 rounded-lg">
                    <p class="block text-neutral-700">Paket Wisata</p>
                </a>
                <a href="index.html" class="flex flex-row gap-2.5 justify-center items-center p-2.5 rounded-lg">
                    <p class="block text-neutral-700">Riwayat</p>
                </a>
            </div>
        </div>
        <div class="flex flex-row gap-[0.56rem] justify-start items-start">
            <a href="./src/scripts/views/pages/login.html" class="flex flex-row gap-2.5 justify-center items-center px-6 py-3 bg-white border-sky-500 border rounded-[2rem] shadow-[2px_8px_12.7px_0px_rgba(0,152,205,0.1)]">
                <p class="block text-sky-600">Masuk</p>
            </a>
            <a href="./src/scripts/views/pages/register.html" class="flex flex-row gap-2.5 justify-center items-center px-6 py-3 bg-sky-500 rounded-[2rem] shadow-[2px_8px_12.7px_0px_rgba(0,152,205,0.1)]">
                <p class="block text-white">Daftar</p>
            </a>
        </div>
    </div>
</div>